* {
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-left: 10px;
}

.header {
  width: 100%;
  height: 56px;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.header__container {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.header__container h1 {
  font-size: 19px;
  line-height: 58px;
  padding-left: 10px;
  color: #fff;
  margin: 0;
  font-weight: 400;
}

.header__icon {
  width: 48px;
  height: 48px;
  text-align: center;
  position: relative;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
}

.header__icon:focus,
.header__icon:hover {
  opacity: 0.8;
  outline: 1px solid #fff;
}

.header__icon svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.menu {
  width: 300px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  will-change: transform;
  transition: transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
  transform: translateX(-103%);
}

.menu--show {
  transform: translateX(0);
}

.menu__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu__overlay--show {
  visibility: visible;
  opacity: 1;
}

.menu__list {
  width: inherit;
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.menu__list li {
  color: rgba(0,0,0,0.87);
}

.menu__list li:hover,
.menu__list li:active {
  background: #e7e7e7;
}

.menu__list a {
  cursor: pointer;
  color: inherit;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menu__header {
  height: 150px;
  background: #2196f3;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.main {
  width: 100%;
  height: 100%;
  margin-top: 56px;
}

.github__card {
  width: 400px;
  min-height: 250px;
  background: #fff;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  margin: 100px auto;
  transform: all 200ms ease-in-out;
  -webkit-transform: all 200ms ease-in-out;
  -moz-transform: all 200ms ease-in-out;
}

.github__header {
  width: inherit;
  height: 150px;
  position: relative;
  background: #e7e7e7;
}

.github__header .link {
  position: absolute;
  bottom: -19px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.github__header .link:active {
  background: #e7e7e7;
}

.github__header .link img {
  width: 20px;
  height: 20px;
}

.github__avatar {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  text-indent: -9999px;
  border: 2px solid #ccc;
  display: block;
  position: relative;
  top: 25px;
}

.github__avatar[src=""] {
  background: #fff;
}

.github__body {
  width: inherit;
  min-height: 200px;
  padding: 0 10px;
  text-align: center;
}

.github__body div {
  padding-bottom: 10px;
  padding-top: 5px;
}

.github__body .github__title {
  display: block;
}

.github__body .github__title,
.github__footer .github__title {
  font-weight: bold;
  text-transform: capitalize;
}

.github__footer .github__title {
  display: inline-block;
}

.github__body .name {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.github__body .location {
  color: #333;
  font-style: italic;
}

.github__body div span {
  display: inline-block;
}

.github__body div span.text {
  padding-top: 5px;
  font-size: 15px;
  word-break: break-word;
  width: 80%;
}

.github__body .location::before {
  content: '';
  background-image: url(.././images/location.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 15px;
  height: 15px;
  vertical-align: text-top;
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.github__footer {
  width: inherit;
  height: 55px;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.github__footer-content {
  display: flex;
  justify-content: space-around;
  line-height: 55px;
}

.github__body-content.hide,
.github__footer-content.hide {
  opacity: 0;
}

.main__fab {
  width: 56px;
  height: 56px;
  background: #F44336;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
  -webkit-tap-highlight-color: transparent;
}

.main__fab:active {
  opacity: 0.9;
}

@media all and (max-width: 768px) {
  .github__card {
    width: 420px;
  }
}

@media all and (max-width: 480px) {
  .github__card {
    width: 310px;
  }
}