.link.icon {
  color: #000;
  position: absolute;
  margin-left: 8px;
  margin-top: 10px;
  width: 7px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icon:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.link.icon:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid 1px currentColor;
}