@import 'icons.css';

* {
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-left: 10px;
}

.header {
  width: 100%;
  height: 56px;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.header__container {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.header__container span {
  font-size: 1.24em;
  color: #fff;
  margin: auto 0;
}

.header__icon {
  width: 48px;
  height: 48px;
  text-align: center;
  position: relative;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
}

.header__icon:focus,
.header__icon:hover {
  opacity: 0.8;
  outline: 1px solid #fff;
}

.header__icon svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.menu {
  width: 300px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  will-change: transform;
  transition: transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
  transform: translateX(-103%);
}

.menu--show {
  transform: translateX(0);
}

.menu__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu__overlay--show {
  visibility: visible;
  opacity: 1;
}

.menu__list {
  width: inherit;
  height: inherit;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.menu__list li {
  color: rgba(0,0,0,0.87);
}

.menu__list li:hover,
.menu__list li:active {
  background: #e7e7e7;
}

.menu__list a {
  cursor: pointer;
  color: inherit;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menu__header {
  height: 120px;
  background: #2196f3;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 90px auto;
}

.github__card {
  width: 290px;
  min-height: 300px;
  background: #fff;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  align-self: center;
  margin: 20px;
  transform: all 200ms ease-in-out;
  -webkit-transform: all 200ms ease-in-out;
  -moz-transform: all 200ms ease-in-out;
}

.github__card.hide {
  display: none;
}

.github__header {
  width: inherit;
  height: 130px;
  position: relative;
  background: #e7e7e7;
  background-repeat: no-repeat;
  background-image: url('../images/github-banner.png');
}

.github__link {
  position: absolute;
  bottom: -19px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.github__link .icon {
  position: relative;
  top: 10px;
  left: 9px;
}

.github__link:active {
  background: #e7e7e7;
}

.github__avatar {
  text-align: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  text-indent: -9999px;
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 85px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
}

.github__avatar[src=""] {
  background: #fff;
}

.github__body {
  width: inherit;
  min-height: 200px;
  padding: 0 10px;
  text-align: center;
}

.github__body div {
  padding-bottom: 10px;
  padding-top: 5px;
}

.github__body .github__title {
  display: block;
}

.github__body .github__title,
.github__footer .github__title {
  font-weight: bold;
  text-transform: capitalize;
}

.github__footer .github__title {
  display: inline-block;
}

.bio .text:hover {
  white-space: initial;
}

.github__body .name {
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
}

.github__body .location {
  color: #333;
  font-style: italic;
}

.github__body div span {
  display: inline-block;
}

.github__body div span.text {
  padding-top: 5px;
  font-size: 14px;
  width: 80%;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.github__body .location::before {
  content: '';
  background-image: url(.././images/location.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 15px;
  height: 15px;
  vertical-align: text-top;
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.github__footer {
  width: inherit;
  height: 55px;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.github__footer-content {
  display: flex;
  justify-content: space-around;
  line-height: 55px;
}

.github__body-content.hide,
.github__footer-content.hide {
  opacity: 0;
}

.main__fab {
  width: 56px;
  height: 56px;
  background: #F44336;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
  -webkit-tap-highlight-color: transparent;
}

.main__fab:active {
  opacity: 0.9;
}

.dialog,
.dialog__overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}

.dialog__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 290px;
  height: 200px;
  background: #fff;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 3;
  padding: 1.5rem;
  border-radius: 2px;
}

.dialog__overlay {
  background: #000;
  opacity: 0.5;
}

.dialog__close {
  width: 40px;
  height: 40px;
  float: right;
  position: relative;
  top: -10px;
  right: -10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-tap-highlight-color: transparent;
}

.dialog__close svg {
  width: 22px;
  height: 22px;
  fill: #000;
}

.dialog__close:active {
  background: #e7e7e7;
}

.dialog__input { 
  width: 245px;
  height: 32px;
  border: 0;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
  outline: none;
}

.dialog__input:focus {
  border-bottom: 2px solid #2196F3;
}

.dialog__add {
  display: block;
  position: relative;
  width: 70px;
  height: 35px;
  line-height: 29px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  margin: 0 auto;
}

.dialog__add:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.dialog--hide {
  display: none;
}

.snackbar {
  position: fixed;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 50px;
  background: #323232;
  color: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: bottom 0.30s cubic-bezier(0, 0, 0.30, 1);
  transition: bottom 0.30s cubic-bezier(0, 0, 0.30, 1);
  will-change: transform;
  font-weight: 500;
}

.snackbar--show {
  bottom: 0;
}

.snackbar__msg {
  margin-left: 15px;
  margin-right: 10px;
  word-break: break-all;
}

.snackbar__msg {
  font-size: 14px;
}

.main__loader {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}

.main__loader.hide {
  display: none;
}

@media all and (max-width: 768px) {
  .github__card {
    width: 320px;
  }

  .main {
    flex-direction: column;
  }
}

@media all and (max-width: 481px) {
  .main {
    flex-direction: column;
  }
}