.app__container {
  padding: 40px 20px 20px 10px;
  margin-left: 280px;
  background: #dedede;
}

.app__container > div {
  padding: 30px;
  background: #fff;
  width: 750px;
  min-height: 650px;
  overflow-y: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 1px 1px 16px 0 #ccc;
}

.app__source {
  width: 35px;
  height: 35px;
  float: right;
  margin: -30px 10px 10px 0;
  cursor: pointer;
}

.pwa p {
  margin-bottom: 10px;
}

.pwa a {
  display: block;
  color: #2196f3;
}

.btn {
  display: inline-block;
  width: 160px;
  min-height: 30px;
  background: #dedede;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #000;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  transition: all 150ms ease-in;
  margin-top: 15px;
}

.btn:active {
  box-shadow: none;
}

.app__notes {
  width: 100%;
  min-height: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff3ce;
  padding: 10px;
  border-left: 3px solid #ffdb6f;
}

.app__notes h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

.app__notes p {
  word-break: break-all;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media all and (max-width: 768px) {
  .app__container {
    margin-left: 0;
    padding: 0;
  }

  .app__container > div {
    margin-bottom: 0;
    box-shadow: none;
  }

  .app__source {
    display: none;
  }
}
