.app__container {
  padding: 40px 20px 20px 10px;
  margin-left: 280px;
  background: #dedede;
}

.app__container > div {
  padding: 30px;
  background: #fff;
  width: 750px;
  min-height: 650px;
  overflow-y: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
}

.pwa p {
  margin-bottom: 10px;
}

.pwa a {
  display: block;
  color: #2196f3;
}
