.app__container {
  padding: 90px 10px 20px 10px;
  margin-left: 280px;
  background: #dedede;
}

.app__container > div {
  padding: 30px;
  background: #fff;
  width: 730px;
  min-height: 650px;
  overflow-y: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 1px 1px 16px 0 #ccc;
}

.app__source {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: fixed;
  right: 30px;
  top: 10px;
}

.pwa b {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pwa {
  margin-left: 5px;
  margin-top: 20px;
}

.pwa li {
  margin: 0;
  list-style-type: none;
}

.pwa li {
  content: '';
  background-image: url('https://i.imgur.com/KUmipqo.png');
  background-repeat: no-repeat;
  background-size: 14px 14px;
  display: inline-block;
  background-position-y: 6px;
}

.pwa li {
  display: block;
  padding-left: 23px;
  padding-top: 0;
}

.introduction li,
.pwa li {
  line-height: 24px;
}

.introduction li,
.pwa li,
.pwa li b {
  font-size: 15px;
}

.btn {
  display: inline-block;
  width: 120px;
  min-height: 30px;
  background: #dedede;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #000;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  transition: all 150ms ease-in;
  margin-top: 15px;
}

.btn:active {
  box-shadow: none;
}

.app__notes {
  width: 100%;
  min-height: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff3ce;
  padding: 10px;
  border-left: 3px solid #ffdb6f;
}

.app__notes h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

.app__notes p {
  word-break: break-all;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app__notes a {
  color: #ffa000;
}

.app__header {
  width: 100%;
  height: 56px;
  background: #2196f3;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.app__header h3 {
  color: #fff;
  padding-left: 40px;
  font-size: 19px;
}

.setup__steps {
  list-style-type: decimal;
}

@media all and (max-width: 768px) {
  .app__container {
    margin-left: 0;
    padding-top: 75px;
  }

  .app__container > div {
    margin-bottom: 0;
    box-shadow: none;
    width: 100%;
    padding: 20px;
  }

  .app__source {
    width: 25px;
    height: 25px;
    top: 15px;
    right: 20px;
  }

  .app__header {
    padding-left: 0;
  }

  .app__header h3 {
    padding-left: 10px;
  }

  .app__source:active {
    outline: 1px solid #fff;
  }
}

.page__notfound {
  margin: 120px auto;
  text-align: center;
}
