.menu {
  width: 270px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  will-change: transform;
  transition: transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.menu--hide {
  transform: translateX(-103%);
}

.menu__logo {
  width: 50px;
  height: 50px;
  margin-left: 12px;
}

.menu__list {
  width: inherit;
  height: calc(100% - 60px);
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-left: 0;
}

.menu__list li {
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  padding: 0;
  position: relative;
  list-style-type: none;
  margin-left: 0;
}

.menu__list li:not(:last-child)::before {
  content: '';
  border: 1px solid #ccc;
  width: 0;
  height: 24px;
  display: block;
  margin-top: 45px;
  z-index: 1;
  position: absolute;
  left: 35px;
}

.menu__list li:hover,
.menu__list li:active {
  background: #e7e7e7;
}

.menu__list a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 15px 20px;
  font-size: 14px;
  height: 56px;
}

.menu__list a.active {
  background: #2196f3;
  color: #fff;
  font-weight: 500;
}

.menu__list a.active .menu__steps {
  background: #fff;
  color: #000;
}

.menu__icon {
  width: 48px;
  height: 48px;
  text-align: center;
  position: relative;
  margin: 4px;
  display: none;
  cursor: pointer;
}

.menu__icon:focus,
.menu__icon:hover {
  opacity: 0.8;
  outline: 1px solid #fff;
}

.menu__icon svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.menu__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
}

.menu__overlay--show {
  visibility: visible;
  opacity: 1;
}

.menu__steps {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 30px;
  z-index: 2;
  font-weight: normal;
}

.menu__author {
  margin-left: 20px;
}

.menu__author a {
  color: #000;
  font-size: 13px;
}

@media all and (max-width: 768px) {
  .menu {
    transform: translateX(-103%);
  }

  .menu__icon {
    display: inline-block;
  }
}

.menu.menu--show {
  transform: translateX(0);
}
