.hl {
  display: block;
  overflow-x: auto;
  padding: 0.8em;
  background: #282a36;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hl span {
  font-size: 15px;
  font-weight: 100;
  word-spacing: 0.1em;
}

.hl span::selection {
  background: #4caf50;
}

.hl .space {
  margin-right: 10px;
}

.bash {
  color: #fff;
}
